.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 4px 8px #0002;
}

.card h3 {
  margin: 0;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
}

table th {
  background: #4f46e5;
  color: white;
}
